---
---

body {
  background: #fff;
}

$padding: 0.75rem 2rem;
$radius: 8px;
$shadow: 0 1px 4px rgba(#000, 0.06);

// Page layout

.page-header {
  border-bottom: 5px solid #4F66EE;
  padding-bottom: 1.5rem;
  margin: 2rem 0;
  h2 {
    margin: 0;
  }

  p {
    margin: 0.25rem 0 0;
  }
}

// Conditional styles

[data-group] {
  display: none;

  &.form-section.active {
    display: none;
  }
}

.is-conditionally-visible[data-group] {
  display: block;

  .all-pages &,
  &.form-section.active {
    display: block;
  }
}

// Override .form-section styles so that the
// "all-conditionals" setting doesn't break
// the layout for conditionally hidden pages.

.form-section {
  display: block;
  max-height: 0;
  overflow: hidden;

  &.active {
    max-height: initial;
    overflow: visible;
  }
}

// Form settings

.form-settings {
  $offset: 4.5rem;
  background: #fff;
  border: 1px solid #d7d7d7;
  box-shadow: $shadow;
  padding: $padding;
  position: fixed;
  bottom: $offset;
  right: 0;
  border-top-left-radius: $radius;
  transform: translateY(100%);
  will-change: transform;
  transition: all 0.2s ease-out;

  h5 {
    margin-bottom: 1.5rem;
  }

  .form-settings-toggle {
    position: absolute;
    z-index: 2;
    top: 2rem;
    right: 2rem;
    left: 2rem;
    text-align: right;
    opacity: 0.5;

    svg {
      transform: rotate(180deg);
      transform-origin: 50% 50%;
      transition: all 0.1s ease-out;
      will-change: transform;
    }
  }

  &.active {
    transform: translateY($offset);

    .form-settings-toggle svg {
      transform: rotate(0deg);
    }
  }
}

// Settings body classes

.all-pages {
  background: #ddd;

  .form-nav,
  .sfgov-alpha-banner,
  header[role="banner"],
  .sfgov-footer {
    display: none;
  }

  .form-section {
    max-height: initial;
    overflow: visible;
    border-radius: $radius;
    background: #fff;
    box-shadow: $shadow;
    padding: $padding;
    margin-bottom: 2rem;
  }

  div[data-group] {
    display: none;
  }

}

.all-conditionals {
  div[data-group] {
    display: block;
  }
}

.nav-on-top {
  display: none;
  .top-nav & {
    display: block;
  }
}