---
---

body {
  background: #ddd;
}

.page {
  background: #fff;
  box-shadow: 0 1px 4px rgba(#000, 0.06);
  padding: 0.75rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.form {
  width: 96%;
  max-width: 38rem;
  margin: 0 auto;
}

header {
  margin-bottom: 2rem;
  h1, p {
    margin: 0;
  }
}