{% assign address-error = "Please fill in a complete address." %}

<fieldset class="field-address">
  <legend>{{ include.label | markdownify | remove: '<p>' | remove: '</p>'}}</legend>

  {% if include.address-fields contains 'street' or include.address-fields == 'full' %}
    <label for="{{ include.name}}-line1">Address Line 1</label>
    <input type="text" id="{{ include.name}}-line1" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>

    <label for="{{ include.name}}-line2">Address Line 2 <span class="optional">(optional)</span></label>
    <input type="text" id="{{ include.name }}-line2">
  {% endif %}


  {% if include.address-fields contains 'city' or include.address-fields == 'full' %}
    <label for="{{ include.name}}-city">City</label>
    <input type="text" id="{{ include.name}}-city" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>
  {% endif %}

  {% if include.address-fields contains 'state' or include.address-fields == 'full' %}
    <div class="field-address-state">
      <label for="{{ include.name}}-state">State</label>
      <select id="{{ include.name}}-state" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>
        <option value="">Choose a state</option>
        {% for state in site.data.states %}
          <option value="{{ state.value }}">{{ state.text }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {% if include.address-fields contains 'zip' or include.address-fields == 'full' %}
    <div class="field-address-zip">
      <label for="{{ include.name}}-zip" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>ZIP Code</label>
      <input type="text" id="{{ include.name}}-zip">
    </div>
  {% endif %}

  {% if include.helptext %}
   <div class="help-text" data-valtype='help'>{{ include.helptext | markdownify }}</div>
  {% endif %}

</fieldset>