{% assign address-error = "You need to fill in a complete address." %}

<fieldset class="field-address">
  <legend>{% include elements/label.html %}</legend>

  {% if address-fields contains 'street' or address-fields == 'full' %}
    <label for="{{ name}}-line1">Address Line 1</label>
    <input type="text" id="{{ name}}-line1" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>

    <label for="{{ name}}-line2">Address Line 2 {% unless optional %}<span class="optional">(optional)</span>{% endunless %}</label>
    <input type="text" id="{{ name }}-line2">
  {% endif %}


  {% if address-fields contains 'city' or address-fields == 'full' %}
    <label for="{{ name}}-city">City</label>
    <input type="text" id="{{ name}}-city" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>
  {% endif %}

  {% if address-fields contains 'state' or address-fields == 'full' %}
    <div class="field-address-state">
      <label for="{{ name}}-state">State</label>
      <select id="{{ name}}-state" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>
        <option value="">Choose a state</option>
        {% for state in layout.address-states %}
          <option value="{{ state.value }}">{{ state.text }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}

  {% if address-fields contains 'zip' or address-fields == 'full' %}
    <div class="field-address-zip">
      <label for="{{ name}}-zip" {% unless optional %}required="required" data-error="{{ address-error }}"{% endunless %}>ZIP Code</label>
      <input type="number" id="{{ name}}-zip" maxlength="5" class="length-5">
    </div>
  {% endif %}

  {% include elements/helptext.html %}

</fieldset>