{% if options %}
  <legend class=" control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify | remove: '<p>' | remove: '</p>'}}</legend>
{% endif %}
  <div class=" valtype" data-valtype="checkboxes">
    {% if options %}
      {% for option in options %}
        <label class="checkbox">
          <input type="checkbox" value="{{ option.label  }}" name="{{ include.name }}"
          {% if option.checked %}checked="checked"{% endif %}
          {% if option.shows %} data-shows="{{ option.shows }}"{% endif %}
          {% if option.hides %} data-hides="{{ option.hides }}"{% endif %}
          >
          <span>{{ option.label | markdownify | remove: '<p>' | remove: '</p>'}}</span>
        </label>
      {% endfor %}
    {% else %}
      <label class="checkbox">
        <input type="checkbox" value="{{ include.label  }}" name="{{ include.name }}" {% if include.checked %}checked="checked"{% endif %}>
        <span>{{ include.label | markdownify | remove: '<p>' | remove: '</p>'}}</span>
      </label>
    {% endif %}
    {% if include.helptext %}
     <p class="help-text" data-valtype='help'>{{ include.helptext }}</p>
    {% endif %}
  </div>