<label class="control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify }}</label>
<div class="">
  <input type="email" id="{{ include.name }}" placeholder="" class="form-control input-md valtype" data-valtype="placeholder"
  {% unless optional %} required="required"{% endunless %}
  {% if error %}
    data-error="{{ include.error }}"
  {% else %}
    data-error="Please enter a valid email address."
  {% endif %}
  >
  {% if include.helptext %}
   <p class="help-block valtype" data-valtype='help'>{{ include.helptext }}</p>
  {% endif %}
</div>