<div class="">
  <input class="input-file" id="fileInput" type="file"
  {% unless optional %} required="required"{% endunless %}
  {% if error %} data-error="{{ include.error }}"
  {% else %} data-error="Please upload a file."{% endif %}>
  <label class="control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify | remove: '<p>' | remove: '</p>'}}</label>
  {% if include.helptext %}
   <p class="help-text" data-valtype='help'>{{ include.helptext }}</p>
  {% endif %}
</div>