<div class="field-container">
  <label class="control-label valtype" for="{{ name }}" data-valtype="label">
    <span class="label">
      {% include elements/label.html %}
    </span>
  <input class="input-file" id="{{ name }}" type="file"
  {% unless optional %} required="required"{% endunless %}
  {% if error %} data-error="{{ error }}"
  {% else %} data-error="You need to upload a file."{% endif %}>
  <span class="file-custom" data-filename=""></span>
  </label>

  {% include elements/helptext.html %}
</div>