<div class="field-container">
  <input class="input-file" id="{{ name }}" type="file"
  {% unless optional %} required="required"{% endunless %}
  {% if error %} data-error="{{ error }}"
  {% else %} data-error="Please upload a file."{% endif %}>
  <label class="control-label valtype" for="{{ name }}" data-valtype="label">{{ label | markdownify | remove: '<p>' | remove: '</p>'}}</label>
  {% if helptext %}
    <div class="help-text" data-valtype='help'>{{ helptext | markdownify | improve }}</div>
  {% endif %}
</div>