<label class="control-label valtype" for="{{ name }}" data-valtype="label">{{ label | markdownify | remove: '<p>' | remove: '</p>' | improve}}</label>
<div class="field-container">
  <input type="text"
     id="{{ name }}"
     placeholder=""
     class="form-control input-md valtype
     length-{{maxlength | default: '5' }}"
     data-valtype="placeholder"
     {% unless optional %} required="required"{% endunless %}
     {% if error %} data-error="{{ error }}"{% endif %}
     {% if maxlength %} maxlength="{{maxlength | default: '5'}}"{% endif %}
     >
     <span class="units">{{ unit }}</span>
  {% if helptext %}
    <div class="help-text" data-valtype='help'>{{ helptext | markdownify | improve }}</div>
  {% endif %}
</div>