<label class="control-label valtype" for="{{ name }}" data-valtype="label">{{ label | markdownify | remove: '<p>' | remove: '</p>' | improve}}</label>
<div class="field-container">
  <div class="prepended dollar">$</div>
  <input type="text" name="{{ name }}" placeholder="" class="form-control input-md valtype" data-valtype="placeholder"
  {% unless optional %} required="required"{% endunless %}
  {% if error %}
    data-error="{{ error }}"
  {% else %}
    data-error="Please enter a valid price."
  {% endif %}>
  {% if helptext %}
    <div class="help-text" data-valtype='help'>{{ helptext | markdownify | improve }}</div>
  {% endif %}
</div>