<label class="control-label valtype" for="{{ name }}" data-valtype="label">
  {% include elements/label.html %}
</label>

<div class="field-container">
  <div class="prepended dollar">$</div>
  <input type="text" name="{{ name }}" placeholder="" class="form-control input-md valtype" data-valtype="placeholder"
  {% unless optional %} required="required"{% endunless %}
  {% if error %}
    data-error="{{ error }}"
  {% else %}
    data-error="You need to enter a valid price."
  {% endif %}>

  {% include elements/helptext.html %}
</div>