<label class=" control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify | remove: '<p>' | remove: '</p>'}}</label>
<div class=" valtype" data-valtype="radios">
  {% for option in options %}
    <label class="radio">
    <input type="radio" value="{{ option.label  }}" name="{{ include.name }}"
    {% if option.checked %} checked="checked"{% endif %}
    {% if option.shows %} data-shows="{{ option.shows }}"{% endif %}
    {% if option.hides %} data-hides="{{ option.hides }}"{% endif %}
    {% unless optional %} required="required"{% endunless %}
    {% if error %}
      data-error="{{ include.error }}"
    {% endif %}>
    <span>{{ option.label | markdownify | remove: '<p>' | remove: '</p>'}}</span>
    </label>
  {% endfor %}
  {% if include.other %}
    <label class="other-label radio">
      <input type="radio" value="Other" name="{{ include.name }}">
      <span>Other</span>
    </label>
    <div class="other-input">
      <label for="{{ include.name }}-other">Write more information here</label>
      <input type="text">
    </div>
  {% endif %}
  {% if include.helptext %}
    <div class="help-text" data-valtype='help'>{{ include.helptext | markdownify }}</div>
  {% endif %}
</div>