<label class=" control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify }}</label>
<div class=" valtype" data-valtype="radios">
  {% for option in options %}
    <label class="radio">
    <input type="radio" value="{{ option.label | markdownify }}" name="{{ include.name }}"
    {% if option.checked %} checked="checked"{% endif %}
    {% if option.shows %} data-shows="{{ option.shows }}"{% endif %}
    {% if option.hides %} data-hides="{{ option.hides }}"{% endif %}
    {% unless optional %} required="required"{% endunless %}
    {% if error %}
      data-error="{{ include.error }}"
    {% endif %}>
    <span>{{ option.label }}</span>
    </label>
  {% endfor %}
  {% if other %}
    <input type="radio" value="Other" name="{{ include.name }}">
    <label class="other-label radio">Other</label>
    <input type="text" class="other-input">
  {% endif %}
  {% if include.helptext %}
   <p class="help-block valtype" data-valtype='help'>{{ include.helptext }}</p>
  {% endif %}
</div>