<fieldset>
  <legend class=" control-label valtype" for="{{ name }}" data-valtype="label">{{ label | markdownify | remove: '<p>' | remove: '</p>' | improve}}</legend>
  <div class=" valtype" data-valtype="radios">
    {% for option in options %}
      <label class="radio">
        <input type="radio" value="{{ option.label  }}" name="{{ name }}"
        {% if option.checked %} checked="checked"{% endif %}
        {% if option.shows %} data-shows="{{ option.shows }}"{% endif %}
        {% if option.hides %} data-hides="{{ option.hides }}"{% endif %}
        {% unless optional %} required="required"{% endunless %}
        {% if error %}
          data-error="{{ error }}"
        {% else %}
          data-error="Please select an option."
        {% endif %}>
        <span>{{ option.label | markdownify | remove: '<p>' | remove: '</p>' | improve }}</span>
      </label>
    {% endfor %}
    {% if other %}
      <label class="other-label radio">
        <input type="radio" value="Other" name="{{ name }}">
        <span>Other</span>
      </label>
      <div class="other-input">
        <label for="{{ name }}-other">Write more information here</label>
        <input type="text">
      </div>
    {% endif %}
    {% if helptext %}
      <div class="help-text" data-valtype='help'>{{ helptext | markdownify | improve }}</div>
    {% endif %}
  </div>
</fieldset>