<label class="control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify | remove: '<p>' | remove: '</p>'}}</label>
<div class="">
  <select class="form-control input-md valtype" data-valtype="option" name="{{ include.name }}"
  {% unless optional %} required="required"{% endunless %}
  {% if error %} data-error="{{ include.error }}" {% endif %}>
  {{ include.options }}
  {% for option in options %}
    <option value="{{ option.label  }}">{{ option.label  }}</option>
  {% endfor %}
  </select>
  {% if include.helptext %}
    <div class="help-text" data-valtype='help'>{{ include.helptext | markdownify }}</div>
  {% endif %}
</div>