<label class="control-label valtype" for="{{ include.name }}" data-valtype="label">{{ include.label | markdownify }}</label>
<div class="">
  <select class="form-control input-md valtype" data-valtype="option" name="{{ include.name }}"
  {% unless optional %} required="required"{% endunless %}
  {% if error %} data-error="{{ include.error }}" {% endif %}>
  {{ include.options }}
  {% for option in options %}
    <option value="{{ option.label | markdownify }}">{{ option.label | markdownify }}</option>
  {% endfor %}
  </select>
  {% if include.helptext %}
   <p class="help-block valtype" data-valtype='help'>{{ include.helptext }}</p>
  {% endif %}
</div>