<label class="control-label valtype" for="{{ name }}" data-valtype="label">{{ label | markdownify | remove: '<p>' | remove: '</p>' | improve}}</label>
<div class="field-container">
  <select class="form-control input-md valtype" data-valtype="option" name="{{ name }}"
  {% unless optional %} required="required"{% endunless %}
  {% if error %} data-error="{{ error }}" {% endif %}>
  {{ options }}
  {% for option in options %}
    <option value="{{ option.label }}">{{ option.label }}</option>
  {% endfor %}
  </select>
  {% if helptext %}
    <div class="help-text" data-valtype='help'>{{ helptext | markdownify | improve }}</div>
  {% endif %}
</div>