<label class="control-label valtype" for="{{ name }}" data-valtype="label">{{ label | markdownify | remove: '<p>' | remove: '</p>' | improve}}</label>
<div class="field-container">
  <div class="textarea">
    <textarea class="form-control valtype" data-valtype="textarea" name="{{ name }}"
    {% unless optional %} required="required"{% endunless %}
    {% if error %} data-error="{{ error }}"{% endif %} /> </textarea>
    {% if helptext %}
      <div class="help-text" data-valtype='help'>{{ helptext | markdownify | improve }}</div>
    {% endif %}
  </div>
</div>