{% capture length %}{{ forloop.length }}{% endcapture %}
{% capture index %}{{ forloop.index }}{% endcapture %}
{% assign preview = include.preview %}

<div class="form-group pagination">

  {% if forloop.first == false or preview %}
    {% comment %}
      Hide the "Back" button on the Start and Preview pages
    {% endcomment %}
    <a href="javascript:void(0);" class="btn btn-secondary icon-left icon-left-arrow form-section-prev">Back</a>
  {% endif %}

  {% comment %}
    "Next" button
  {% endcomment %}
  <a href="javascript:void(0);" class="btn form-section-next
    {% if preview == true %} btn-primary btn-submit" id="submit"
    {% else %} btn-secondary icon-right icon-right-arrow
      {% if index == length %} form-preview{% endif %}"
    {% endif %}
  >
    {% if forloop.first %}
      Start
    {% elsif preview == true %}
      Submit
    {% elsif index == length %}
      Preview
    {% else %}
      Next
    {% endif %}
  </a>
</div>