{% capture currentform %}{{ include.form }}{% endcapture %}

{% for page in site.data[currentform] %}

  {% assign fields = page.fields %}
  {% assign label = page.title %}

  <div class="form-section"{% if page.group %} data-group="{{ page.group }}"{% endif %}>

    {% comment %} Page headers {% endcomment %}
    <header class="hero-banner default">
      <h1>
        {{ label | markdownify | remove: '<p>' | remove: '</p>' }}
      </h1>
      {% if page.description %}
        {{ page.description | markdownify | improve }}
      {% endif %}
    </header>

    <div class="form-content">
      <div class="form-content-inner">

        <div class="nav-on-top">
          {% include form-nav.html %}
        </div>
        {% comment %} Render fields in the page {% endcomment %}
        {% include render_field.html %}

        {% include form-nav.html %}
      </div>
    </div>

  </div>
{% endfor %}