{% for field in include.fields %}
  {% comment %}
    Assign variables
  {% endcomment %}
  {% assign label = field.label %}
  {% assign helptext = field.helptext %}
  {% capture name %}{{ title | slugify }}-field-{{ forloop.index }}{% endcapture %}
  {% assign options  = field.options %}
  {% assign error  = field.error %}
  {% assign optional = field.optional %}
  {% assign group  = field.group %}
  {% assign fields  = field.fields %}
  {% assign unit  = field.unit %}
  {% assign other  = field.other %}
  {% assign level = field.level %}
  {% assign url = field.url %}
  {% assign description = field.description %}
  {% assign maxlength = field.maxlength %}

  {% comment %}
    Address field formats
  {% endcomment %}

  {% if field.address-fields %}
    {% assign address-fields = field.address-fields %}
  {% else %}
    {% assign address-fields = 'full' %}
  {% endif %}


  {% comment %}
    Include the appropriate markup for each field type
  {% endcomment %}

    {% if field.group %}
      {% include fields/group.html %}
    {% elsif field.type == 'header' %}
      {% include fields/header.html %}
    {% elsif field.type == 'paragraph' %}
      {% include fields/paragraph.html %}
    {% elsif field.type == 'link' %}
      {% include fields/link.html %}
    {% else %}
      <div class="form-group">
        {% if field.type == 'radio' %}
          {% include fields/radio.html %}
        {% elsif field.type == 'checkbox' %}
          {% include fields/checkbox.html %}
        {% elsif field.type == 'select' %}
          {% include fields/select.html %}
        {% elsif field.type == 'address' %}
          {% include fields/address.html %}
        {% elsif field.type == 'price' %}
          {% include fields/price.html %}
        {% elsif field.type == 'email' %}
          {% include fields/email.html %}
        {% elsif field.type == 'phone' %}
          {% include fields/phone.html %}
        {% elsif field.type == 'textarea' %}
          {% include fields/textarea.html %}
        {% elsif field.type == 'number' %}
          {% include fields/number.html %}
        {% elsif field.type == 'file' %}
          {% include fields/file.html %}
        {% else %}
          {% include fields/text.html %}
        {% endif %}
        <p class="help-block with-errors"></p>
      </div>
    {% endif %}
{% endfor %}