{% for field in fields %}
  {% comment %}
    Assign variables
  {% endcomment %}
  {% assign label = field.label %}
  {% assign helptext = field.helptext %}
  {% capture name %}{{ title | slugify }}-field-{{ forloop.index }}{% endcapture %}
  {% assign options  = field.options %}
  {% assign error  = field.error %}
  {% assign optional = field.optional %}
  {% assign group  = field.group %}
  {% assign fields  = field.fields %}
  {% assign unit  = field.unit %}
  {% assign other  = field.other %}
  {% assign level = field.level %}
  {% assign url = field.url %}
  {% assign description = field.description %}
  {% assign maxlength = field.maxlength %}

  {% comment %}
    Address field formats
  {% endcomment %}

  {% if field.address-fields %}
    {% assign address-fields = field.address-fields %}
  {% else %}
    {% assign address-fields = 'full' %}
  {% endif %}


  {% comment %}
    Render each field
  {% endcomment %}

  {% capture includepath %}fields/{{field.type}}.html{% endcapture %}

  {% if field.group %}
    {% include fields/group.html %}
  {% elsif field.type == 'header' %}
    {% include {{ includepath }} %}
  {% elsif field.type == 'paragraph' %}
    {% include {{ includepath }} %}
  {% elsif field.type == 'link' %}
    {% include {{ includepath }} %}
  {% else %}
    <div class="form-group">
      {% if field.type %}
        {% include {{ includepath }} %}
      {% else %}
        {% include fields/text.html %}
      {% endif %}
      <p class="help-block with-errors"></p>
    </div>
  {% endif %}

{% endfor %}