{% for page in include.fields %}

  {% assign fields = page.fields %}
  {% assign title = page.title %}

  <div class="form-section"{% if page.group %} data-group="{{ page.group }}"{% endif %}>
    <div class="nav-on-top">
      {% include form-nav.html %}
    </div>

    {% comment %} Page headers {% endcomment %}
    <header>
      <h2>{{ title | markdownify }}</h2>
      {% if page.description %}
        <p>{{ page.description | markdownify | improve }}</p>
      {% endif %}
    </header>

    {% comment %} Render fields in the page {% endcomment %}
    {% include render_field.html %}

    {% include form-nav.html %}
  </div>
{% endfor %}