{% for page in include.fields %}

  {% assign fields = page.fields %}
  {% assign title = page.title %}

  <div class="form-section"{% if page.group %} data-group="{{ page.group }}"{% endif %}>
    <header>
      <h2>{{ title | markdownify }}</h2>
      {% if page.description %}
        <p class="description">{{ page.description | markdownify }}</p>
      {% endif %}
    </header>

    {% include render_field.html fields=fields title=title %}

    <div class="form-group form-nav">
      {% unless forloop.first %}
        <a href="javascript:void(0);" class="btn btn-lg form-section-prev">Previous</a>
      {% endunless %}

      {% if forloop.last %}
        <a href="javascript:void(0);" id="submit" class="btn btn-lg submit">Submit</a>
      {% else %}
        <a href="javascript:void(0);" class="btn btn-lg form-section-next">Next</a>
      {% endif %}
    </div>
  </div>
{% endfor %}