{% for field in include.fields %}
  {% comment %}
    Assign variables
  {% endcomment %}
  {% assign label = field.label %}
  {% assign helptext = field.helptext %}
  {% capture name %}field-{{ forloop.index }}{% endcapture %}
  {% assign options  = field.options %}
  {% assign error  = field.error %}
  {% assign optional = field.optional %}
  {% assign group  = field.group %}
  {% assign fields  = field.fields %}
  {% assign unit  = field.unit %}
  {% assign other  = field.other %}


  {% comment %}
    Heading level ("1" for H1s, "2" for H2s, etc.)
  {% endcomment %}
  {% assign level = field.level %}

  {% comment %}
    Include the appropriate markup for each field type
  {% endcomment %}

    {% if field.group %}
      {% include fields/group.html group=group field=fields %}
    {% elsif field.type == 'header' %}
      {% include fields/header.html level=level label=label %}
    {% elsif field.type == 'paragraph' %}
      {% include fields/paragraph.html level=level label=label %}
    {% else %}
      <div class="form-group">
        {% if field.type == 'radio' %}
          {% include fields/radio.html label=label helptext=helptext option=options name=name error=error other=other %}
        {% elsif field.type == 'checkbox' %}
          {% include fields/checkbox.html label=label helptext=helptext option=options name=name error=error %}
        {% elsif field.type == 'select' %}
          {% include fields/select.html label=label helptext=helptext option=options name=name error=error %}
        {% elsif field.type == 'address' %}
          {% include fields/address.html label=label helptext=helptext name=name error=error %}
        {% elsif field.type == 'price' %}
          {% include fields/price.html label=label helptext=helptext name=name error=error %}
        {% elsif field.type == 'email' %}
          {% include fields/email.html label=label helptext=helptext name=name error=error %}
        {% elsif field.type == 'phone' %}
          {% include fields/phone.html label=label helptext=helptext name=name error=error %}
        {% elsif field.type == 'textarea' %}
          {% include fields/textarea.html label=label helptext=helptext name=name error=error%}
        {% elsif field.type == 'number' %}
          {% include fields/number.html label=label helptext=helptext name=name error=error unit=unit %}
        {% elsif field.type == 'file' %}
          {% include fields/file.html label=label helptext=helptext name=name error=error %}
        {% else %}
          {% include fields/text.html label=label helptext=helptext name=name error=error %}
        {% endif %}
        <p class="help-block with-errors"></p>
      </div>
    {% endif %}
{% endfor %}