{% for page in include.fields %}

  {% assign fields = page.fields %}
  {% assign title = page.title %}

  <div class="form-section"{% if page.group %} data-group="{{ page.group }}"{% endif %}>

    {% comment %} Page headers {% endcomment %}
    <header>
      <h2>{{ title | markdownify }}</h2>
      {% if page.description %}
        <p>{{ page.description | markdownify | improve }}</p>
      {% endif %}
    </header>

    {% comment %} Render fields in the page {% endcomment %}
    {% include render_field.html %}

    {% comment %} "Previous" and "Next" buttons {% endcomment %}
    <div class="form-group form-nav">
      {% unless forloop.first %}
        <a href="javascript:void(0);" class="btn btn-lg form-section-prev">Previous</a>
      {% endunless %}

      {% if forloop.last %}
        <a href="javascript:void(0);" id="submit" class="btn btn-lg submit">Submit</a>
      {% else %}
        <a href="javascript:void(0);" class="btn btn-lg form-section-next">Next</a>
      {% endif %}
    </div>
  </div>
{% endfor %}