---
---

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500&display=swap');

@import '../node_modules/sf-design-system/src/components/00-design-tokens/colors';
@import '../node_modules/sf-design-system/src/components/00-design-tokens/breakpoints';
@import '../node_modules/sf-design-system/src/components/00-design-tokens/typography-mixins';
@import '../node_modules/sf-design-system/src/components/00-design-tokens/typography';
@import '../node_modules/sf-design-system/src/components/00-design-tokens/mixins';
@import '../node_modules/sf-design-system/src/components/00-design-tokens/variables';
@import '../node_modules/sf-design-system/src/components/00-design-tokens/base';

@import '../node_modules/sf-design-system/src/components/03-layout/headers/hero-banner';
@import '../node_modules/sf-design-system/src/components/04-forms/field-types/form-fields';
@import '../node_modules/sf-design-system/src/components/04-forms/layout/pagination';

@import 'sfgov';

body {
  margin: 0;
  padding: 0;
}

form {
  @include contain-1090;
}

.form-group {
  @include clearfix;
}

.sections-container {
  max-width: 38rem;
  padding-bottom: 60px;
}

div[data-hidden] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; // Fix for https://github.com/twbs/bootstrap/issues/25686
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.optional {
  opacity: 0.8;
}

.other-label {
  margin-top: 0.5rem;
}

.other-label,
.other-input {
  display: inline-block;
}

.other-input label {
  font-size: 0;
  height: 0;
  margin: 0;
}

.other-input input {
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  font-size: 0.88rem;
  line-height: 1;
  padding: 0.5rem;
  height: 2.5rem;
}