<footer class="sfgov-footer" role="contentinfo">
  <div class="sfgov-footer__container">
    <div class="sfgov-footer-nav">
      <nav role="navigation" aria-labelledby="block-sfgovpl-footer-menu" id="block-sfgovpl-footer">

        <h2 class="visually-hidden" id="block-sfgovpl-footer-menu">Footer menu</h2>

        <nav class="sfgov-footer-navigation">
          <ul class="menu">
            <li>
              <a href="http://sfdhr.org/job-seekers" target="_blank" rel="noopener noreferrer">Jobs with the City</a>
            </li>
            <li>
              <a href="https://sf.gov/contact-us" title="Contact us" data-drupal-link-system-path="node/81">Contact us</a>
            </li>
            <li>
              <a href="https://sf.gov/about-this-website" title="About this website" data-drupal-link-system-path="node/100">About this website</a>
            </li>
          </ul>
        </nav>
      </nav>

      <nav role="navigation" aria-labelledby="block-footerbottom-menu" id="block-footerbottom">

        <h2 class="visually-hidden" id="block-footerbottom-menu">Footer Bottom</h2>

        <nav class="sfgov-footer-navigation-bottom">
          <ul class="menu">
            <li>
              <a href="https://sf.gov/disclaimer" title="Disclaimer" data-drupal-link-system-path="node/75">Disclaimer</a>
            </li>
            <li>
              <a href="https://sf.gov/privacy-policy" title="Privacy policy" data-drupal-link-system-path="node/78">Privacy policy</a>
            </li>
          </ul>
        </nav>
      </nav>
    </div>

    <div class="logo">
      <span class="seal">
        <img src="/assets/images/logo-white.svg" alt="">
      </span>
      <span class="text">
        City and County <br>of San&nbsp;Francisco
      </span>
    </div>
  </div>
</footer>