<header role="banner" id="sfgov-header">
  <div class="sfgov-nav-container">
    <div class="sfgov-nav-container__content">
      <div class="sfgov-logo__container">
        <a href="https://sf.gov/" class="branding-link">
        <span class="sfgov-logo">
          <span class="sfgov-logo__image">
            <img class="sfgov-logo--seal" src="/assets/images/logo.svg" alt="Home">
            <img class="sfgov-logo--lockup" src="/assets/images/sfgov.svg" alt="Home">
          </span>
        </span>
        </a>
      </div>

      <div class="head-right--container">
        <button class="sfgov-mobile-translate sfgov-mobile-nav-btn"></button>
        <button class="sfgov-mobile-search sfgov-mobile-nav-btn"></button>
        <button class="sfgov-menu-btn sfgov-mobile-nav-btn">Menu</button>
        <nav role="navigation" class="sfgov-nav sfgov-mobile_nav-container">
          <div class="sfgov-nav-inner">
            <button class="sfgov-nav-close">
              <i class="fa fa-times"></i>
            </button>
            <nav class="sfgov-main-navigation">
              <ul class="menu">
                <li>
                  <a href="https://sf.gov/services" data-drupal-link-system-path="services">Services</a>
                </li>
                <li>
                  <a href="https://sf.gov/departments" data-drupal-link-system-path="departments">Departments</a>
                </li>
              </ul>
            </nav>

            <div class="gtranslate_container">
              <div class="gtranslate">
                <select data-gtranslate="sfgov" disabled>
                  <option value="">Translate</option>
                </select>
              </div>
            <div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>