---
layout: base
---

<div class="layout-container">
  {% include sfgov/alpha-banner.html %}
  {% include sfgov/header.html %}

  <main role="main">
    <span class="hero-banner--border">
      <span class="hero-banner--border-contain"></span>
    </span>

    <form class="form">
      {% include render_form.html form=page.form %}
    </form>
  </main>

  {% include sfgov/footer.html %}
</div>

<div class="form-settings">
  <h5>Show&hellip;</h5>

  <a href="javascript:void(0);" class="form-settings-toggle" title="Toggle settings">
    <img src="/assets/images/settings-toggle.svg" alt="Toggle settings" />
  </a>


  <label class="checkbox">
    <input type="checkbox" id="settings-all-pages">
    <span>Every page</span>
  </label>

  <label class="checkbox">
    <input type="checkbox" id="settings-all-conditionals">
    <span>All conditionals</span>
  </label>

  <label class="checkbox">
    <input type="checkbox" id="settings-all-annotations">
    <span>Annotations</span>
  </label>

  <label class="checkbox">
    <input type="checkbox" id="settings-show-hidden">
    <span>Hidden fields</span>
  </label>

  <label class="checkbox">
    <input type="checkbox" id="settings-top-nav">
    <span>Page navigation on top</span>
  </label>
</div>